@font-face {
    font-family: myFont;
    src: url(fonts/seekTruth.ttf);
}

.icon {
    display: block;
    position: relative;
    float: left;
    border-radius: 50px;
    margin-left: 50%;
    width: 100px;
}
em {
    display: block;
    position: absolute;
    color: rebeccapurple;
    font-family: "myFont",sans-serif;
    font-size: 100px;
    margin-left: 50%;
    margin-top: 10%;
}
.logo {
    display: block;
    position: absolute;
    color: black;
    font-family: "myFont",sans-serif;
    font-size: 50px;
    margin-left: 50%;
    margin-top: 1%;
}